<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Deadline</th>
      <th>Tags</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @task.versions.each do |version| %>
      <% task = version.reify %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.tags.join(', ') %></td>
        <td><%= task.user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>