<% breadcrumb @task %>
<%= breadcrumbs %>

<!-- tweet button -->
<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= request.url %>" data-text="<%= "#{@task.title} : #{@task.deadline.strftime('%m月%d日 %H:%M')}まで #{request.url}" %>" data-lang="ja" data-hashtags="Mr.Scheduler">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<p><%= link_to '編集', edit_group_task_path(@task.group, @task) %>
 最終編集者:<%= @task.user.name %>

<%= link_to '編集履歴', group_task_history_path(@task.group, @task) %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<h2>Comments</h2>
<% @task.comments.each do |comment| %>
  <%= comment.content %> by <%= comment.user.name %><br>
<% end %>
<% if @task.comments.size == 0 %>
  No comments...
<% end %>

<%= form_for(@comment, url: group_task_comments_path(@task.group, @task)) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
