<%= stylesheet_link_tag 'groups' %>

<%= div_hidden 'group-id', @timetable.group.id %>
<%= div_hidden 'timetable-data', @timetable.real_data %>

<h2>Timetable</h2>
<div id="main_container">
  <div id="drag">
    <!-- left container (table with subjects) -->
    <div id="left">
      <table id="table1">
        <colgroup>
          <col width="190"/>
        </colgroup>
        <tbody>
          <% @timetable.subjects.each do |s| %>
            <tr><td class="dark"><div data-id="<%= s.id %>" class="drag clone <%= s.color %>"><%= s.name %></div></td></tr>
          <% end %>
          <tr><td class="trash" title="Trash"><i class="fa fa-trash-o"></i> ごみ箱</td></tr>
        </tbody>
      </table>
    </div><!-- left container -->
    
    <!-- right container -->
    <div id="right">
      <%= render 'timetable', timetable: @timetable %>
    </div><!-- right container -->
  </div>
</div><!-- main container -->
<%= button_tag '保存', id: 'timetable-save-btn' %>