<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Quiz:</strong>
  <%= @group.quiz %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @group.answer %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
