<%= div_hidden 'timetable-data', @group.timetable.real_data %>
<%= div_hidden 'tasks-data', @group.tasks.map(&:attributes).to_json %>
<%= div_hidden 'group-id', @group.id %>

<% breadcrumb @group %>
<%= breadcrumbs %>

  <% if @group.owner == current_user.id %>
    <%= link_to 'Edit', edit_group_path(@group) %>
  <% end %>

  <p>
    <strong>グループ名:</strong>
    <%= @group.name %>
  </p>

  <p>
    <strong>タグ:</strong>
    <%= @group.tags.map{|tag| "[#{tag}]"}.join %>
  </p>
  <br>
  <h2>タスク</h2>
  <br>
  <table>
    <thead>
      <tr>
        <th>タイトル</th>
        <th>内容</th>
        <th>期限</th>
        <th>タグ</th>
        <th>投稿者</th>
      </tr>
    </thead>

    <tbody>
      <% @group.tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, group_task_path(@group, task) %></td>
          <td><%= task.content %></td>
          <td><%= task.deadline %></td>
          <td><%= task.tags.join(', ') %></td>
          <td><%= task.user.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '新しいタスク', new_group_task_path(@group),:class =>'btn1' %>
	<h2>カレンダー</h2>
  <div id="calendar"></div>

  <br>
  <h2>時間割</h2> 作成者 <%= User.find(@group.timetable.author).name %>
  <br>
  <div id="drag">
    <%= render 'timetables/timetable', timetable: @group.timetable %>
  </div>
  <div class="btn-gp">
  <%= link_to '時間割の編集', edit_group_timetable_path(@group),:class =>'btn1' %>
  <%= link_to '設定', edit_detail_group_timetable_path(@group),:class =>'btn1' %>
  <%= link_to '編集履歴', history_group_timetable_path(@group),:class =>'btn1' %>
  </div>
  <h2>授業変更</h2>
   <table>
   <tr><th>変更前日付</th><th>変更前時限</th><th>変更後日付</th><th>変更後時限</th></tr>
  <% @group.timetable.class_changes.each do |cc| %>
	<tr><td><%= cc.date1 %></td><td><%= cc.index1 %>時限目</td><td><%= cc.date2 %></td><td><%= cc.index2 %>時限目</td></tr>
 <% end %>
 </table>
 <div class="btn-gp">
  <%= link_to '授業変更', new_group_timetable_class_change_path(@group),:class =>'btn1' %>
 </div>


