<p id="notice"><%= notice %></p>

<p>
  <strong>Date1:</strong>
  <%= @class_change.date1 %>
</p>

<p>
  <strong>Index1:</strong>
  <%= @class_change.index1 %>
</p>

<p>
  <strong>Date2:</strong>
  <%= @class_change.date2 %>
</p>

<p>
  <strong>Index2:</strong>
  <%= @class_change.index2 %>
</p>

<%= link_to 'Edit', edit_class_change_path(@class_change) %> |
<%= link_to 'Back', class_changes_path %>
