<!DOCTYPE html>
<html>
  <head>
    <title>MrScheduler</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1>
      <%= link_to root_path do %>
        <i class="fa fa-calendar"></i> Mr.Scheduler
      <% end %>
    </h1>
    <% if user_signed_in? %>
      <%= link_to new_group_path do %>
        <i class="fa fa-bolt"></i> New group
      <% end %>
      <%= link_to groups_path do %>
        <i class="fa fa-list"></i> All groups
      <% end %>
      <%= link_to groups_path(joining: 1) do %>
        <i class="fa fa-list"></i> My groups
      <% end %>
      <%= link_to destroy_user_session_path do %>
        <i class="fa fa-sign-out"></i> Sign out
      <% end %>
      <%= form_tag search_path, method: 'GET' do %>
        <i class="fa fa-search"></i> <%= text_field_tag :query, params[:query], placeholder: 'タグを入力' %>
        <%= submit_tag '検索検索ぅ！' %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-sign-in"></i> Sign in
      <% end %>
    <% end %>

    <hr>

    <%= yield %>

    <hr>

    footer

  </body>
</html>
