<!DOCTYPE html>
<html>
  <head>
    <title>MrScheduler</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag controller.controller_name %>
    <%= csrf_meta_tags %>
  </head>
	<body>
		<div id="header">
			<div class="nav-in">
				<div class="nav logo">
					<%= link_to root_path do %>
            <i class="fa fa-calendar"></i> Mr.Scheduler
          <% end %>
				</div>
				<div class="nav description">
					<a>学生のためのソーシャル課題管理システム</a>
				</div>
				<div class="nav notice-box">
					<ul>
						<li><a href="#">Notification</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="side">
			<div class="side-menu">
				<ul>
				<li><p class="notice"><%= notice %></p></li>
				<li><p class="alert"><%= alert %></p></li>
				<% if user_signed_in? %>
          <li><%= link_to "Notifications(#{current_user.notifications.where(is_read: false).count})", user_notifications_path %></li>
					<li><%= link_to new_group_path do %>
            <i class="fa fa-bolt"></i> New group
          <% end %></li>
          <li><%= link_to groups_path do %>
            <i class="fa fa-list"></i> All groups
          <% end %></li>
          <li><%= link_to groups_path(joining: 1) do %>
            <i class="fa fa-list"></i> My groups
          <% end %></li>
          <li><%= link_to destroy_user_session_path do %>
            <i class="fa fa-sign-out"></i> Sign out
          <% end %></li>
          <%= form_tag search_path, method: 'GET' do %>
            <i class="fa fa-search"></i> <%= text_field_tag :query, params[:query], placeholder: 'タグを入力' %>
            <%= submit_tag 'Search' %>
          <% end %>
				<% else %>
					<li><%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in"></i> Sign in
          <% end %></li>
				<% end %>
				</ul>
			</div>
		</div>
		<div id="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
		<div class="work-box">
			<%= yield %>
		</div>
		</div>
		<div id="footer">
			<a class="copyright">&copy; 2014 Mr.schedule</a>
			<a id="skip" href="#header">ページトップへ</a>
		</div>
  </body>
</html>
