<!DOCTYPE html>
<html>
  <head>
    <title>MrScheduler</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h1><%= link_to 'Mr.Scheduler', root_path %></h1>
    <% if user_signed_in? %>
      <%= link_to 'New group', new_group_path %>
      <%= link_to 'Sign out', destroy_user_session_path %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>

    <hr>

    <%= yield %>

  </body>
</html>
