<!DOCTYPE html>
<html>
  <head>
    <title>MrScheduler</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
	<script>
		  $(document).ready(function(){
			$(".side-menu").StickyScroll({
				duration:0
			});
		  });
	</script> 
	</head>
	<body>
		<div id="header">
			<div class="nav-in">
				<div class="nav logo">
					<a><%= link_to 'Mr.Scheduler', root_path %></a>
				</div>
				<div class="nav description">
					<a>学生のためのソーシャル課題管理システム</a>
				</div>
				<div class="nav sns-box">
					<ul>
						<li><a href="#">facebook</a></li>
						<li><a href="#">twitter</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="side">
			<div class="side-menu">
				<ul>
				<li><p class="notice"><%= notice %></p></li>
				<li><p class="alert"><%= alert %></p></li>
				<% if user_signed_in? %>
					<li><%= link_to 'New group', new_group_path %></li>
					<li><%= link_to 'All groups', groups_path %></li>
					<li><%= link_to 'My groups', groups_path(joining: 1) %></li>
					<li><%= link_to 'Sign out', destroy_user_session_path %></li>
				<% else %>
					<li><%= link_to 'Sign in', new_user_session_path %></li>
				<% end %>
				</ul>
			</div>
		</div>
		<div id="main">
			<%= yield %>
		</div>
		<div id="footer">
			<a class="copyright">&copy; 2014 Mr.schedule</a>
			<a id="skip" href="#header">ページトップへ</a>
		</div>
  </body>
</html>
